@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');
body{
    font-family: Poppins,sans-serif;
}

.hero-main{
    background-color:#fff ;

    .navbar{
        .logo{
            width:52px;
            height:auto;
        }

        .navbar-nav{
            margin-left:80px;
            display:flex;
            align-items:center;
            .nav-item{
                padding:0;
            }
          
        }
        .btn{
            button{
                border-radius: 40px;
                padding:10px;
                width:100px;
                height:52px;
                font-family: Poppins;
            }
        }
    }
    .hero{
        padding-left: 40px;
        padding-bottom:55px;
        background-color:linear-gradient( #3984F4, #0CD3FF, #2F7CF0, #0E65E8);
       .yazi{

            .tag{
                color:#468EF9;
                font-size: 20px;
                margin-bottom: 18px;
                }
            .title{
                font-family: Poppins;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 45px;
                position:relative;
                margin-bottom: 30px;

                &:after{
                    content: "";
                    background-image: url("./images/Star\ 2.png");
                    position:absolute;
                    width:50px;
                    height:50px;
                    top:-20px;
                    left:300px;
                    @media (max-width:576px) {
                        display: none;
                    }
                    }
                   
                }
            .Fast{
                background:linear-gradient(169deg, #3984F4 -6.01%, #0CD3FF 36.87%, #2F7CF0 78.04%, #0E65E8 103.77%);
                -webkit-background-clip:text;
                color:transparent;
            }
            p{
                color:#666;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                position:relative;
                &:after{
                    content:"";
                    width:28px;
                    height:28px;
                    position:absolute;
                    background-image:url("./images/Ellipse\ 10.png");
                    top:180px;
                    left:-50px;
                    @media (max-width:576px) {
                        display: none;
                    }
                }
            }
            .btn{
                display:flex;
                position:relative;
              
            }
       }
    }
}

.tablo{
    background-color: #fff;
    border-radius: 40px;
    padding:50px 0 35px 0;
    margin-top:-55px;
    .all{
        border-right:1px solid  #EAEAEA;
        @media (max-width:576px) {
            border-right: none;
        }

        &:last-child{
            border-right: none;
        }
       
    }
    .baslik{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 500;
        margin-top:10px;

        .more{
            text-decoration: none;
            color: #2F7CF0;
            font-size: 15px;
            font-weight: 500;     
        }
    }
    .col-tablo{
        margin-top:10px;
        .row-names{
            color:#666;
            font-size:15px;
            font-style:normal;
            font-weight:normal;
            line-height:normal;

            .chart-name{
                @media (max-width:576px) {
                    display: none;
                }
            }
        }
        .row-items{
            border-bottom: 1px solid #EEE;
            display: flex;
            align-items: center;

            .name{
                color: #000;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
                padding: 5px;
                img{
                    width:25px;
                    height:25px;
                    margin-right:12px;
                }
            }
            .chart{
                padding: 5px;
                img{
                    width:auto;
                    height:38px;
                }
                

                @media (max-width:576px) {
                    display:none;
                }
            }

            .price{
                color: #222;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding: 5px;

                .green{
                    font-weight: 700;
                   color: #28C165;
                }

                .red{
                    font-weight:700;
                    color: #F4574D;
                }
            }
        }
    }
   

    }

    .buy{
  
        
        .yazi{
             @media (max-width:576px) {
                order:1;
                
             }

            .content{
                display: flex;
                align-items: center;
            }

            .title{
                color: #222;
                font-size: 36px;
                font-weight: 600;
                line-height: 52px;
                margin-bottom: 25px;
            }
            .tag{
                color: #666;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px; 
                margin-bottom: 45px;
            }
            .convert{
                .container{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .container1{
                        display: flex;  
                        align-items: center;
                        justify-content:space-between; 
                        width:200px;
                        height:70px;
                        border-radius: 22px;
                        border: 1px solid #3984F4;   
                        padding:0 20px 0 20px;         
                        .name{
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            background: linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%);
                            -webkit-background-clip:text;
                            color:transparent;
    
                           
                        }
                        .miktar{
                            color:#222;
                            text-align: right;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            position:relative;
                            &:before{
                                content:"I";
                                position:absolute;
                                left:-50px;
                                color:#468EF9;
                            }
        
                           
                        }
                    }
                    .container2{
                        width:150px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height:70px;
                        border-radius: 22px;
                        border: 1px solid #3984F4;   
                        padding:0 20px 0 20px;
                        p,i,img{
                            margin-right:10px;
                        }
                        p{
                            margin-bottom: 0;
                        }

                    }
              
                }
                button{
                    width:400px;
                    display: flex;
                    height: 64px;
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 40px;
                }


              

            }
        }

        .resim{
            img{
                height:600px;
                width:auto;
            }
        }
    }

    select{
        border:none;
    }

.feature{
    padding: 132px 0 240px 0;
    h2{
        color:#222;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        .colorful{
            background:linear-gradient(169deg, #3984F4 -6.01%, #0CD3FF 36.87%, #2F7CF0 78.04%, #0E65E8 103.77%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        i{
            background-color: blue;
        }
    }
    p{
        color:#666;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    button{
        width: 240px;
        height: 72px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    img{
        height:130px;
        width:auto;
    }
}

.titles{
    color:#222;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}


.sub-titles{
    color: #222;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.icerik{
    color: #666;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
}

.mavibuton{
    display: flex;
    width: 240px;
    height: 72px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 2px solid #3984F4;
}

.maviyazi{
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.08px;
    background: var(--GRA-Blue, linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tools{
    .color{
        background:linear-gradient(169deg, #3984F4 -6.01%, #0CD3FF 36.87%, #2F7CF0 78.04%, #0E65E8 103.77%);
        -webkit-background-clip:text;
        color:transparent;
    }
    button{
        height:80px;
        width:200px;
    }
    .col{
        .search{
            input{
                width: 500px;
            }
        }
    }
}


.sayfabasibutonu{
    margin-top:80px;
}

.footer{
    
  
    
    img{
        height:52px;
        width:auto;
    }
 
}

.etiket{
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;

    &:hover{
        color:#0C66EE;
    }
}



.text{
    height:55px;
    width:240px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #0C66EE;

    &:hover{
        border: 1px solid #0C66EE;

    }
   
}


.resim2{
    border-bottom:1px solid #DDDD ;
}
.bolum{
    border-right: 1px solid #DDDD;
    border-bottom:1px solid #DDDD ;

    &:last-child{
        border-right: none;
    }
}


.FAQ{
    margin-top:120px;
}

.start{
    .card{
        position:relative;
        border:none; 
        .arrow{
            position: absolute;
            width:150px;
            left:300px;
            top:100px;
            z-index: 1;

            @media (max-width:576px) {
                display:none;
            }
        }
     
    }
}

.accordion{
    button{
        background-color: #fff;
    }
}
